<ion-header>
  <ion-toolbar>
    <ion-title>serverTest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" (click)="fast_charge()">Fast Charge </ion-button>
  <ion-button expand="block" (click)="get_auto_state()">Get Auto State </ion-button>
  <ion-button expand="block" (click)="get_charge_session()">Get Charge Session </ion-button>
  <ion-button expand="block" (click)="new_auto()">Ｎew Ａuto </ion-button>
  <ion-button expand="block" (click)="new_user()">Ｎew User </ion-button>
  <ion-button expand="block" (click)="update()">Update </ion-button>
    
 

</ion-content>