<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding>
<ion-list lines="none" [routerLink]="[ '/list']">
  <ion-item>
    <ion-label>Start Charging</ion-label>
    <ion-icon name="power" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Stop Charging</ion-label>
    <ion-icon name="square-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Speed Charging</ion-label>
    <ion-icon name="speedometer" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Visualization</ion-label>
    <ion-icon name="search" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Find Charge Point</ion-label>
    <ion-icon name="pin" slot="start"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
<!--
<ion-content padding>
    <ion-button fill="clear" expand="full" color="dark" href="">
      <ion-icon name="power" slot="start"></ion-icon>
      Start Charging
    </ion-button>
    <ion-button fill="clear" expand="full" color="dark" href="">
      <ion-icon name="square-outline" slot="start"></ion-icon>
      Stop Charging
    </ion-button>
    <ion-button fill="clear" expand="full" color="dark" href="">
      <ion-icon name="speedometer" slot="start"></ion-icon>
      Speed Charging
    </ion-button>
    <ion-button fill="clear" expand="full" color="dark" href="">
      <ion-icon name="search" slot="start"></ion-icon>
      Visualization
    </ion-button>
    <ion-button fill="clear" expand="full" color="dark" href="">
      <ion-icon name="pin" slot="start"></ion-icon>
      Find Charge Point
    </ion-button>
</ion-content>
-->